


<table>
<tr>
  <td><canvas id="line" class="chart chart-line" chart-data="coData"
chart-labels="labels" chart-series="series" chart-options="options"
chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas></td>
  <td><canvas id="line2" class="chart chart-line" chart-data="tempData"
chart-labels="labels" chart-series="series" chart-options="options"
chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas></td>
</tr>


<tr>
  <td><canvas id="line2" class="chart chart-line" chart-data="huData"
chart-labels="labels" chart-series="series" chart-options="options"
chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas></td>
  <td><canvas id="line2" class="chart chart-line" chart-data="lightData"
chart-labels="labels" chart-series="series" chart-options="options"
chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas></td>
</tr>

</table>





 <md-switch ng-model="data.cb6" aria-label="Switch 6" ng-change="onChange(data.cb6)">
    Switch 6 message: {{ message }}
  </md-switch>

</div>